<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <head>
    <title>C-Apex -- <%= title %></title>
    <meta property="og:title" content="<%= title %>">
    <meta property="og:site_name" content="Apex's Ramblings">
    <meta property="og:url" content="capex.me">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://capex.me/assets/b-read.png">
  </head>
  <body>
    <div id="wiki">
      <main>
        <div class="jumbotron">
          <h1><%= title %></h1>
          <p><%= description %></p>
          <hr>
        </div>
        <div class="jumbotron">
          <%- post %>
          <hr>
          <a href="/" class="text-center text-muted"><h2>Back</h2></a>
        </div>
      </main>
    </div>
  </body>
  <footer>
    <p class="text-center text-muted">&copy; <b>C-Apex 2021</b></p>
    <p class="text-center text-muted">This is solely my own opinion and does not reflect the views of anybody unless explicitly stated.</p>

  </footer>
</html>