<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>1of2from30</title>
</head>
<body>
<div class="jumbotron" id="header">
<main>
<h3><%= title %></h3>
<h3><%= description %></h3>
</main>
</div>
<br>
<div class="jumbotron" id="header">
<h4><%= result %></h4>
<h5>You scored <%= sideA %> vs <%= sideB %>, scoring you as <%= result %></h5>
<hr>
<main>
<h5>Your encoded string for this session is:<h5>
    <h5><%= encodedInfo %></h5>
</main>
</div>
</body>
</html>